html{
    --col1: #3E5622;
    --col2: #83781B;
    --col3: #FE7F2D;
    --col4: #EA638C;
    --col5: #89023E;
    --bckg: var(--col1);
    --txt:  #000000;
    --header-font: "Satisfy";
    --font: "Work Sans";
    --b1: url("circles1.jpg");
    --b2: url("circles2.jpg");
    --b3: url("circles3.jpg");
    --b4: url("circles4.jpg");
    --b5: url("circles5.jpg");

}

body:after {
    content: var(--b1) var(--b2) var(--b3) var(--b4) var (--b5);
    display: none; 
  }

body{
    background-color: var(--bckg);
    overflow: hidden;
    font-family: var(--font);
    font-size: 100%;
}

h1{
    font-family: var(--header-font);
    font-size: 150%;
    margin:0;
}

.circle{
    display:none;
    padding: 2% !important;
    color: #FFFBF0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;
    font-size: 125%;
}

#cube1{
    margin-left: 10%;
    margin-top: 6.5%;
    background-color: var(--col2);
    height: 20vh;
    width: 20vh;
    position: absolute;
    padding: 2%;
    font-size: 120%;
}

#cube2{
    margin-left: 80%;
    margin-top: 30vh;
    background-color: var(--col3);
    height: 29vh;
    width: 29vh;
    position: absolute;
    padding: 2%;

}

#cube3{
    margin-left: 30%;
    margin-top: 20%;
    background-color: var(--col4);
    height: 40vh;
    width: 40vh;
    position: absolute;
    padding:2%;
}

#mc{
    font-size: 190%;
    margin-left: 30%;
    margin-top: 15%;
    font-family: "Satisfy";
    line-height: 1;
}

#cube4{
    margin-left: 60%;
    margin-top: 3vh;
    background-color: var(--col5);
    height: 15vh;
    width: 15vh;
    position: absolute;
    padding: 2%;
}

#cube5{
    margin-left: 20%;
    margin-top: 70vh;
    background-color: var(--col5);
    height: 20vh;
    width: 20vh;
    position: absolute;
    padding: 2%;
}

#cube6{
    margin-left: 74.3%;
    margin-top: 80vh;
    background-color: var(--col2);
    height: 30vh;
    width: 30vh;
    position: absolute;
    padding: 2%;
}

#cube7{
    margin-left: 6%;
    margin-top: 25.5%;
    background-color: var(--col3);
    height: 7.5vh;
    width: 7.5vh;
    position: absolute;
    padding: 2%;
}

#circle1{
    border-radius:50%;
    margin-left: 12%;
    margin-top: 15vh;
    height: 20vh;
    width: 20vh;
    position: absolute;
    background-color: var(--col2);

}

#circle2{
    border-radius:50%;
    margin-left: 30%;
    margin-top: 30vh;
    height: 30vh;
    width: 30vh;
    position: absolute;
    padding: 2%;
    background-color: var(--col2);

}

#circle3{
    border-radius:50%;
    margin-left: 51%;
    margin-top: 4vh;
    height: 23vh;
    width: 23vh;
    position: absolute;
    padding: 2%;
    background-color: var(--col2);
}

#circle4{
    border-radius:50%;
    margin-left: 60%;
    margin-top: 50vh;
    height: 38vh;
    width: 38vh;
    position: absolute;
    padding: 2%;
    background-color: var(--col2);
}

#circle5{
    border-radius:50%;
    margin-left: 6%;
    margin-top: 60vh;
    height: 19vh;
    width: 19vh;
    position: absolute;
    padding: 2%;
    background-color: var(--col3);
}

#circle6{
    border-radius:50%;
    margin-left: 80%;
    margin-top: 17vh;
    height: 19vh;
    width: 19vh;
    position: absolute;
    padding: 2%;
    background-color: var(--col3);
}

#circle7{
    border-radius:50%;
    margin-left: 47%;
    margin-top: 75vh;
    height: 8vh;
    width: 8vh;
    position: absolute;
    padding: 2%;
    background-color: var(--col4);
}

#circle8{
    border-radius:50%;
    margin-left: 36%;
    margin-top: 9vh;
    height: 8vh;
    width: 8vh;
    position: absolute;
    padding: 2%;
    background-color: var(--col4);
}

#circle9{
    border-radius:50%;
    margin-left: 90%;
    margin-top: 70vh;
    height: 2vh;
    width: 2vh;
    position: absolute;
    padding: 2%;
    background-color: var(--col5);
}

#circle10{
    border-radius:50%;
    margin-left: 23%;
    margin-top: 66vh;
    height: 2vh;
    width: 2vh;
    position: absolute;
    padding: 2%;
    background-color: var(--col5);
}

#circle11{
    border-radius:50%;
    margin-left: 55%;
    margin-top: 40vh;
    height: 2vh;
    width: 2vh;
    position: absolute;
    padding: 2%;
    background-color: var(--col5);
}